---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/AboutSection.astro';
import SkillsSection from '../components/SkillsSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import ContactSection from '../components/ContactSection.astro';
import WebsiteLinks from '../components/WebsiteLinks.astro';
import LoadingSpinner from '../components/LoadingSpinner.astro';
import Footer from '../components/Footer.astro';
---

<MainLayout>
  <LoadingSpinner />
  <Header />
  <main class="animate-fadeIn">
    <HeroSection />
    <WebsiteLinks />
    <AboutSection />
    <SkillsSection />
    <ProjectsSection />
    <ContactSection />
  </main>
  <Footer />
</MainLayout>